html {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: 1050px;
}

.logo {
    width: 200px;
}

figure {
    margin: 0;
    background-image: url(./img/pattern.png);
    background-size: contain;
}

h1 {
    font-size: 45px;
    margin-bottom: 0;
}

.grey-color {
    color: rgb(154, 154, 154);
}
.small-title{
    margin-top: 0px;
}
.small-title p{
    margin-top: 0;
    font-size: 14px;
}
.grey-dark-color{
    color: rgb(139, 139, 139);
}
.blue-color {
    color: rgb(63, 170, 207);

}

.font-color-yellow {
    background-color: yellow;
}

.under-comment{
    font-size: 12px;
    margin-top: 0;
}

.table-head {
    background-color: rgb(33, 168, 233);
    color: white;
}

.background-blue {
    background-color: rgb(177, 230, 242);
}

td,
th {
    width: 250px;
}

.different-width {
    width: 534px;
}

table,
th,
td {
    text-align: left;
    border-collapse: collapse;
}

ul{
    padding-inline-start: 12px;
}
.img-background-1 {
    background-image: url(./img/monitor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 235px;
    height: 180px;
    color: white;
    font-size: 20px;
    font-weight: bolder;

}

.img-background-2 {
    background-image: url(./img/graph.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 235px;
    height: 180px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.img-text {
    position: relative;
    left: 10px;
    top: 10px;
}