html {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: 1050px;
}

.logo {
    width: 200px;
}

figure {
    margin: 0;
    background-image: url(./img/pattern.png);
    background-size: contain;
}

h1 {
    font-size: 45px;
}

.grey-color {
    color: rgb(154, 154, 154);
}

.blue-color {
    color: rgb(63, 170, 207);

}

.font-color-yellow {
    background-color: yellow;
}

.table-head {
    background-color: rgb(33, 168, 233);
    color: white;
}

.background-blue {
    background-color: rgb(177, 230, 242);
}

td, th{
    width: 250px;
}
.different-width{
    width: 500px;
}
table, th, td{
    text-align: left;
    border-collapse: collapse;
}
ul{
    padding-inline-start: 0;
}